#UP{
    padding-right: 120px;
}
#result1, #result2{
    padding-bottom: 7px;
    box-shadow: 20px;
    border-radius: 30px;
}
#result3{
    box-shadow: 20px;
    border-radius: 10px;
    border-left: 10px;
}
#MyName{
    background: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#App{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: initial;
    font-weight: 100;
}
#SPEAK{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
}
#hr{
    height: 50px;
}